<h2>Basics</h2>

In [1]:
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:
    
    print(age)
    
print(age)

32
32

In [2]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [3]:
## Type Inference
variable=10
print(type(variable))
variable="Krish"
print(type(variable))

<class 'int'>
<class 'str'>

In [4]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

<h2>Variables in Python</h2>

In [9]:
## Declaring And Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Krish

In [10]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Sak"
last_name="I"

In [11]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

In [12]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [15]:
height=5.11
type(height)

float

In [16]:
float(int(height))

5.0

<h2>DataTypes and Operators</h2>
<p>Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.
<b>Importance of Data Types in Programming</b>
Explanation:
Data types ensure that data is stored in an efficient way.They help in performing correct operations on data.Proper use of data types can prevent errors and bugs in the program.

<b>Introduction to Data Types</b>
1. Basic Data Types
Integers, 
Floating-point numbers, 
Strings, 
Booleans
2. Advanced Data Types
Lists, 
Tuples, 
Sets, 
Dictionaries, 
Type Conversion

<b>Arithmetic Operators:</b>
Addition, 
Subtraction, 
Multiplication, 
Division, 
Floor Division, 
Modulus, 
Exponentiation.

<b>Comparison Operators:</b>
Equal to, 
Not equal to, 
Greater than, 
Less than, 
Greater than or equal to, 
Less than or equal to

<b>Logical Operators:</b>
AND, 
OR,
NOT</p>

In [18]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [19]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [21]:
## Not Equal to !=
str1="Krish"
str2="Krish"

str1==str2
str1!=str2

False

In [22]:
# greater than >

num1=45
num2=55

num1>num2

False

In [23]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [24]:
X=False
Y=True

result =X and Y
print(result)

False

In [25]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [26]:
# Not operator
X=False
not X

True

In [27]:
# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Enter first number:  90
Enter second number:  55

Addition: 145.0
Subtraction: 35.0
Multiplication: 4950.0
Division: 1.6363636363636365
Floor Division: 1.0
Modulus: 35.0
Exponentiation: 3.043252722170454e+107

<h3><u>Control Flow</u></h3>
<h2>Conditional statements and Loops</h2>
<p>
 1. if Statement
2. else Statement
3. elif Statement
4. Nested Conditional Statements

- for Loop: Iterating over a range, Iterating over a string <br>
- while Loop<br>
- loop control statements: break, continue, pass<br>
- nested Loops</p>

In [28]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age=16

if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are a minor

In [29]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age=17

if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [30]:
## Nested Condiitonal Statements

# You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number even ,odd,negative

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

Enter the number 4

The number is positive
The number is even

In [31]:
## Determine if a year is a leap year using nested condition statement

year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")

else:
    print(year,"is not a leap year")

Enter the year 2024

2024 is a leap year

In [32]:
# User login system

# Predefined username and password
stored_username = "admin"
stored_password = "password123"

# Take user input
username = input("Enter username: ")
password = input("Enter password: ")

# Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

Enter username:  sakshi
Enter password:  saku

Username not found.

In [33]:
### Determine the ticket price based on age and whether the person is a student.
# Ticket pricing based on age and student status

# Take user input
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()

# Determine ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == 'yes':
        price = "$12"
    else:
        price = "$15"
elif age <= 64:
    if is_student == 'yes':
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"

print("Ticket Price:", price)

Enter your age:  22
Are you a student? (yes/no):  yes

Ticket Price: $18

In [34]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [35]:
str="saku sak"

for i in str:
    print(i)

s
a
k
u

s
a
k

In [36]:
# The while loop continues to execute as long as the condition is True.
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [37]:
# The break statement exits the loop permaturely
# break sstatement
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [38]:
# The continue statement skips the current iteration and continues with the next.
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [39]:
# The pass statement is a null operation; it does nothing.
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [40]:
## Nested loops: a loop inside a loop
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [41]:
# Examples- Calculate the sum of first N natural numbers using a while and for loop
# while loop  
n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [42]:
n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [45]:
# Example-Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num, "", end= "")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Data Structures
### Lists, Tuples , Sets Dictionaries 
Lists are ordered, mutable collections of items.
They can contain items of different data types.

In [46]:
### Accessing List Elements
fruits=["apple","banana","cherry","kiwi","gauva"]

In [47]:
print(fruits[0])
print(fruits[-1])
print(fruits[1:])
print(fruits[1:3])

apple
gauva
['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [48]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [49]:
fruits[1:]="watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [50]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

n
['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o']

In [51]:
fruits=["apple","banana","cherry","kiwi","gauva"]
fruits.sort()
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi']

In [52]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
numbers[::3]

[1, 4, 7, 10]

In [54]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [55]:
# Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [56]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
# Basic List Comphrension
sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
# List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [60]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [61]:
# Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [62]:
# List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [63]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [64]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [65]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [66]:

list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [67]:
print(numbers[2])
print(numbers[-1])

3
6

In [68]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [69]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [70]:
#Immutable Nature Of Tuples
#Tuples are immutable, meaning their elements cannot be changed once assigned.
lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [72]:
numbers[1]="Kh"

TypeError: 'tuple' object does not support item assignment

In [73]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [1]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [2]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [3]:
# Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [4]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [6]:
# iterating over nested tuples
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [4]:
#Dictionaries 
student={"name":"Sakh","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Sakh', 'age': 32, 'grade': 24}
<class 'dict'>

In [5]:
# Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

24
32
24
None
Not Available

In [6]:
student["age"]=33  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Sakh', 'age': 33, 'grade': 24}
{'name': 'Sakh', 'age': 33, 'grade': 24, 'address': 'India'}

In [7]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Sakh', 'age': 33, 'address': 'India'}

In [8]:
# Dictionary methods
keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Sakh', 33, 'India'])
dict_items([('name', 'Sakh'), ('age', 33), ('address', 'India')])

In [9]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Sakh', 'age': 33, 'address': 'India'}
{'name': 'Sakh', 'age': 33, 'address': 'India'}

In [10]:
student["name"]="R2"
print(student)
print(student_copy)

{'name': 'R2', 'age': 33, 'address': 'India'}
{'name': 'R2', 'age': 33, 'address': 'India'}

In [11]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'R2', 'age': 33, 'address': 'India'}
{'name': 'R2', 'age': 33, 'address': 'India'}

In [12]:
student["name"]="R3"
print(student_copy1)
print(student)

{'name': 'R2', 'age': 33, 'address': 'India'}
{'name': 'R3', 'age': 33, 'address': 'India'}

In [13]:
# Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [15]:
# Iterate over values
for value in student.values():
    print(value)

R3
33
India

In [16]:
# Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:R3
age:33
address:India

In [18]:
# Nested Disctionaries
students={
    "student1":{"name":"Kashish","age":32},
    "student2":{"name":"Priya","age":35}
}
print(students)

{'student1': {'name': 'Kashish', 'age': 32}, 'student2': {'name': 'Priya', 'age': 35}}

In [19]:
# Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Priya
35

In [20]:
students.items()

dict_items([('student1', {'name': 'Kashish', 'age': 32}), ('student2', {'name': 'Priya', 'age': 35})])

In [21]:
# Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Kashish', 'age': 32}
name:Kashish
age:32
student2:{'name': 'Priya', 'age': 35}
name:Priya
age:35

In [22]:
# Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
# Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [24]:
# Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [25]:
# Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

<h2>List Examples</h2>

In [1]:
#Example 1. Manage A To Do List, Create a To Do List To Keep Track OF Tasks
to_do_list=["Buy Groceries","Clean the house","Pay bills"]

## Adding to task
to_do_list.append("Schedule meeting")
to_do_list.append("Go For a Run")

## Removing a completed task
to_do_list.remove("Clean the house")

## checking if a task is in the list
if "Pay bills" in to_do_list:
    print("Don't forgrt to pay the utility bills")

print("To Do List remaining")
for task in to_do_list:
    print(f"-{task}")

Don't forgrt to pay the utility bills
To Do List remaining
-Buy Groceries
-Pay bills
-Schedule meeting
-Go For a Run

In [2]:
# Organizing student grades
#Create a list to store and calculate average grades for students
grades = [85, 92, 78, 90, 88]

# Adding a new grade
grades.append(95)

# Calculating the average grade
average_grade = sum(grades) / len(grades)
print(f"Average Grade: {average_grade:.2f}")

# Finding the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest Grade: {highest_grade}")
print(f"Lowest Grade: {lowest_grade}")

Average Grade: 88.00
Highest Grade: 95
Lowest Grade: 78

In [3]:
# Managing an inventory
#Use a list to manage inventory items in a store
inventory = ["apples", "bananas", "oranges", "grapes"]

# Adding a new item
inventory.append("strawberries")

# Removing an item that is out of stock
inventory.remove("bananas")

# Checking if an item is in stock
item = "oranges"
if item in inventory:
    print(f"{item} are in stock.")
else:
    print(f"{item} are out of stock.")

# Printing the inventory
print("Inventory List:")
for item in inventory:
    print(f"- {item}")

oranges are in stock.
Inventory List:
- apples
- oranges
- grapes
- strawberries

In [4]:
# Collecting user feedback
#Use a list to collect and analyze user feedback.
feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

# Adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Printing all feedback
print("User Feedback:")
for comment in feedback:
    print(f"- {comment}")

Positive Feedback Count: 2
User Feedback:
- Great service!
- Very satisfied
- Could be better
- Excellent experience
- Not happy with the service

<h3><u>Functions</u></h3>
A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [5]:
# why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [6]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [7]:
# Call this function
even_or_odd(24)

the number is even

In [8]:
# Default Parameters
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet("ish")

Hello ish Welcome To the paradise

In [15]:
## Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*k):
    for number in k:
        print(number)

In [16]:
print_numbers(1,2,3,4,5,6,7,8,"Krish")

1
2
3
4
5
6
7
8
Krish

In [14]:
# Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [17]:
## Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [18]:
print_details(name="Kashish",age="12",country="India")

name:Kashish
age:12
country:India

In [19]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(1,2,3,4,"Sak",name="Sak",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Sak
name:Sak
age:32
country:India

In [21]:
# Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [22]:
# Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

<h4>Examples of functions</h4>

In [23]:
#temp conversion
def convert_temperature(temp,unit):
    """This function converts temperature between Celsius and Fahrenheit"""
    if unit=='C':
        return temp * 9/5 + 32  ## Celsius To Fahrenheit
    elif unit=="F":
        return (temp-32)*5/9 ## Fahrenheit to celsius
    else:
        return None

print(convert_temperature(25,'C'))
print(convert_temperature(77,'F'))

77.0
25.0

In [24]:
#passw strength checker
def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

## calling the function
print(is_strong_password("WeakPwd"))
print(is_strong_password("Str0ngPwd!"))

False
True

In [25]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']* item['quantity']

    return total_cost


## Example cart data

cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3}

]

## calling the function
total_cost=calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [26]:
#check if str is palindrome
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

In [27]:
#factorial using recursion
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(6))

720

In [29]:
import re

# Email validation function
def is_valid_email(email):
    """This function checks if the email is valid."""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

# Calling the function
print(is_valid_email("test@example.com"))  # Output: True
print(is_valid_email("invalid-email"))  # Output: False

True
False

<h2>Lambda, Map and Filter Fuction</h2>
1. Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.
<br>
<br>
<p>2. The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively. The map() function is a powerful tool for applying transformations to iterable data structures. It can be used with regular functions, lambda functions, and even multiple iterables, providing a versatile approach to data processing in Python. By understanding and utilizing map(), you can write more efficient and readable code.</p>
<p>3. The filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list (or any other iterable) based on a condition. The filter() function is a powerful tool for creating iterators that filter items out of an iterable based on a function. It is commonly used for data cleaning, filtering objects, and removing unwanted elements from lists. By mastering filter(), you can write more concise and efficient code for processing and manipulating collections in Python.</p>

In [30]:
#Syntax
lambda arguments: expression

In [31]:
even1=lambda num:num%2==0
even1(12)

True

In [32]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [34]:
def square(x):
    return x*x

square(10)

100

In [35]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [36]:
# Lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [37]:
# MAp multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [38]:
# map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [39]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [40]:
def get_name(person):
    return person['name']

people=[
    {'name':'Z','age':32},
    {'name':'J','age':33}
]
list(map(get_name,people))

['Z', 'J']

In [41]:
def even(num):
    if num%2==0:
        return True
even(24)

True

In [42]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [43]:
# filter with a Lambda Function
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [44]:
# Filter with a lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [45]:
# Filter() to check if the age is greate than 25 in dictionaries
people=[
    {'name':'raj','age':32},
    {'name':'Pam','age':33},
    {'name':'Jim','age':25}
]

def age_greater_than_25(person):
    return person['age']>25

list(filter(age_greater_than_25,people))

[{'name': 'raj', 'age': 32}, {'name': 'Pam', 'age': 33}]

<h2>File Handling</h2>
<h4>File Operation- Read And Write Files</h4>
File handling is a crucial part of any programming language. Python provides built-in functions and methods to read from and write to files, both text and binary. This lesson will cover the basics of file handling, including reading and writing text files and binary files.
<p>When working with files in Python, handling file paths correctly is crucial to ensure your code works across different operating systems and environments. Python provides several modules and functions for working with file paths effectively.</p>

In [46]:
## Read a Whole File

with open('example.txt','r') as file:
    content=file.read()
    print(content)

Hello world
This is a new line

In [47]:
# Read a file line by line
with open('example.txt','r') as file:
    for line in file:
        print(line.strip()) ## sstrip() removes the newline character

Hello world
This is a new line

In [48]:
# Writing a file(Overwriting)

with open('example.txt','w') as file:
    file.write('Hello!\n')
    file.write('my name is sakh')

In [49]:
# Write a file(wwithout Overwriting)
with open('example.txt','a') as file:
    file.write("Append operation taking place!\n")

In [50]:
# Writing a list of lines to a file
lines=['First line \n','Second line \n','Third line\n']
with open('example.txt','a') as file:
    file.writelines(lines)

In [51]:
## Binary Files

# Writing to a binary file
data = b'\x00\x01\x02\x03\x04'
with open('example.bin', 'wb') as file:
    file.write(data)

In [52]:
# Reading a binary file
with open('example.bin', 'rb') as file:
    content = file.read()
    print(content)

b'\x00\x01\x02\x03\x04'

In [53]:
# Read the content froma  source text fiile and write to a destination text file
# Copying a text file
with open('example.txt', 'r') as source_file:
    content = source_file.read()

with open('destination.txt', 'w') as destination_file:
    destination_file.write(content)

In [54]:
#Read a text file and count the number of lines, words, and characters.
# Counting lines, words, and characters in a text file
def count_text_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    return line_count, word_count, char_count

file_path = 'example.txt'
lines, words, characters = count_text_file(file_path)
print(f'Lines: {lines}, Words: {words}, Characters: {characters}')

Lines: 5, Words: 14, Characters: 89

In [55]:
# Writing and then reading a file

with open('example.txt','w+') as file:
    file.write("Hello world\n")
    file.write("This is a new line \n")

    ## Move the file cursor to the beginning
    file.seek(0)

    ## Read the content of the file
    content=file.read()
    print(content)

Hello world
This is a new line

In [56]:
# Using the os module
import os
cwd=os.getcwd()
print(f"Current working directory is {cwd}")

Current working directory is C:\Users\Sakshi

In [57]:
# create a new directory
new_directory="package"
os.mkdir(new_directory)
print(f"Directory '{new_directory}' create")

Directory 'package' create

In [58]:
# Listing Files And Directories
items=os.listdir('.')
print(items)

['.anaconda', '.bash_history', '.cache', '.conda', '.condarc', '.continuum', '.eclipse', '.git', '.gitconfig', '.graph-cli.json', '.ipynb_checkpoints', '.ipython', '.jupyter', '.keras', '.m2', '.matplotlib', '.node_repl_history', '.p2', '.redhat', '.streamlit', '.vscode', '1. ML data-preprocessing.ipynb', '2. ML-Regression(Simple).ipynb', '3D Objects', 'adv1.ipynb', 'adv11.ipynb', 'adv111.ipynb', 'AI-SmartClassroom', 'ai.ipynb', 'anaconda3', 'ansel', 'AppData', 'Application Data', 'boston_housing.csv', 'cars.csv', 'chat.ipy', 'chatbot', 'chatbot.ipynb', 'Churn_Modelling.csv', 'Contacts', 'Cookies', 'Data.csv', 'Deep_Learning.ipynb', 'Desktop', 'destination.txt', 'diabetes1.csv', 'DL-la1.ipynb', 'DL-la2(A).ipynb', 'DL-la2(B).ipynb', 'Documents', 'Downloads', 'eclipse', 'eclipse-workspace', 'emails.csv', 'example.bin', 'example.txt', 'Favorites', 'graph-coloring.ipynb', 'IMPORTANT.ipynb', 'IntelGraphicsProfiles', 'iris.csv', 'la1.ipynb', 'la10.ipynb', 'la2.ipynb', 'la3.ipynb', 'la4-new.ipynb', 'la4.ipynb', 'la5.ipynb', 'la6.ipynb', 'la7.ipynb', 'la8.ipynb', 'la9.ipynb', 'letter-recognition.csv', 'Links', 'loan.csv', 'Local Settings', 'ML -6.ipynb', 'ML-1.ipynb', 'ML-2.ipynb', 'ML-3.ipynb', 'ml-5-new.ipynb', 'ML-5.ipynb', 'ML1.ipynb', 'Music', 'My Documents', 'NetHood', 'NLP-1.ipynb', 'NLP-2.ipynb', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{e58d2d04-3e73-11ef-97ba-fc078a52c41b}.TM.blf', 'NTUSER.DAT{e58d2d04-3e73-11ef-97ba-fc078a52c41b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{e58d2d04-3e73-11ef-97ba-fc078a52c41b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Oracle', 'package', 'package-lock.json', 'Pictures', 'pizza_sales.csv', 'pps1.ipynb', 'pps2.ipynb', 'pps3.ipynb', 'pps4.ipynb', 'practice.ipynb', 'PrintHood', 'python-basics.ipynb', 'Recent', 'sakh.ipynb', 'sakh33.ipynb', 'sakh333.ipynb', 'sakshi', 'Salary_Data.csv', 'sales_data_sample.csv', 'Saved Games', 'Searches', 'SendTo', 'social_network_ads.csv', 'Start Menu', 'streamlit-research', 'Templates', 'test.ipynb', 'test1.ipynb', 'titanic.csv', 'uber.csv', 'Unit 2 Decision control statements.ipynb', 'Unit 4 Strings .ipynb', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled10.ipynb', 'Untitled2.ipynb', 'Videos', 'word2vec_car_model.model']

In [59]:
# Joining Paths

dir_name="folder"
file_name="file.txt"
full_path=os.path.join(dir_name,file_name)
print(full_path)

folder\file.txt

In [60]:
dir_name="folder"
file_name="file.txt"
full_path=os.path.join(os.getcwd(),dir_name,file_name)
print(full_path)

C:\Users\Sakshi\folder\file.txt

In [61]:
path='example1.txt'
if os.path.exists(path):
    print(f"The path '{path}' exists")
else:
    print(f"The path '{path}' does not exists")

The path 'example1.txt' does not exists

In [62]:
#Checking if a Path is a File or Directory
import os

path = 'example.txt'
if os.path.isfile(path):
    print(f"The path '{path}' is a file.")
elif os.path.isdir(path):
    print(f"The path '{path}' is a directory.")
else:
    print(f"The path '{path}' is neither a file nor a directory.")

The path 'example.txt' is a file.

In [63]:
# Getting the absolute path
relative_path='example.txt'
absolute_path=os.path.abspath(relative_path)
print(absolute_path)

C:\Users\Sakshi\example.txt

<h2>Exception Handling</h2>
Exception handling in Python allows you to handle errors gracefully and take corrective actions without stopping the execution of the program. This lesson will cover the basics of exceptions, including how to use try, except, else, and finally blocks.
<br>
<br>
What Are Exceptions?
Exceptions are events that disrupt the normal flow of a program. They occur when an error is encountered during program execution. Common exceptions include:
<br><ol>
1. ZeroDivisionError: Dividing by zero.<br>
2. FileNotFoundError: File not found.<br>
3. ValueError: Invalid value.<br>
4. TypeError: Invalid type.</ol>

In [1]:
# Exception try ,except block

try:
    a=b
except:
    print("The variable has not been assigned")

The variable has not been assigned

In [2]:
a=b

NameError: name 'b' is not defined

In [3]:
try:
    a=b
except NameError as ex:
    print(ex)

name 'b' is not defined

In [4]:
try:
    result=1/0
except ZeroDivisionError as ex:
    print(ex)
    print("Please enter the denominator greater than 0")

division by zero
Please enter the denominator greater than 0

In [5]:
try:
    result=1/2
    a=b
except ZeroDivisionError as ex:
    print(ex)
    print("Please enter the denominator greater than 0")
except Exception as ex1:
    print(ex1)
    print('Main exception got caught here')

name 'b' is not defined
Main exception got caught here

In [6]:
try:
    num=int(input("Enter a number"))
    result=10/num
except ValueError:
    print("This is not a valid number")
except ZeroDivisionError:
    print("enter denominator greater than 0")
except Exception as ex:
    print(ex)

Enter a number 3

In [7]:
# try,except,else block
try:
    num=int(input("Enter a number:"))
    result=10/num
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("You can't divide by zero!")
except Exception as ex:
    print(ex)
else:
    print(f"the result is {result}")

Enter a number: 5

the result is 2.0

In [8]:
# try,except,else and finally
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("You can't divide by zero!")
except Exception as ex:
    print(ex)
else:
    print(f"The result is {result}")
finally:
    print("Execution complete.")

Enter a number:  0

You can't divide by zero!
Execution complete.

In [10]:
# File handling and Exception HAndling

try:
    file=open('example.txt','r')
    content=file.read()
    a=b
    print(content)

except FileNotFoundError:
    print("The file does not exists")
except Exception as ex:
    print(ex)

finally:
    if 'file' in locals() or not file.closed():
        file.close()
        print('file close')

name 'b' is not defined
file close

In [11]:
if 'file' in locals():
    print(True)

True